img.img-fluid {
    width: 100%!important;
    max-width: 100%!important;
}

#mainNav .navbar-nav>li.nav-item>a {
    font-size: 120%;
    font-weight: 500;
    letter-spacing: 0.5px;
}
div.row {
    background: linear-gradient(358deg, #26c69d, #a466bb, #5673ae);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 36s ease infinite;
    -moz-animation: AnimationName 36s ease infinite;
    animation: AnimationName 36s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }
    @keyframes AnimationName { 
        0%{background-position:0% 52%}
        50%{background-position:100% 49%}
        100%{background-position:0% 52%}
    }
}