.aboutContent-about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.aboutContent-about {
  position: relative;
  margin: 2em auto;
  width: 70%;
  overflow: hidden;
  transition: max-height 0.5s ease;
  text-align: left;
}

.aboutContent-show,
.aboutContent-hide {
  position: absolute;
  bottom: -1em;
  text-align: center;
  border-radius: 1.5em;
  padding: 1em;
  text-decoration: none;
  color: bisque;
  font-weight: 600;
  cursor: pointer;
}
.aboutContent-show:hover,
.aboutContent-hide:hover {
  color: #0085a1;
}

.aboutContent-authors {
  display: flex;
  flex-wrap: wrap;
}

.aboutContent-about div p {
  line-height: 1em;
}

@media only screen and (max-width: 600px) {
  .aboutContent-about {
  }
}
