.container-avatar-image {
  display: block;
  width: 100%;
  height: auto;
  margin: 4%;
  padding: 2%;
  border-radius: 15px;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.container-avatar-overlay,
.container-avatar-overlay-reverse {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 0;
  height: 89.5%;
  margin: 4%;
  border-radius: 15px;
  background-color: rgba(0, 140, 186, 0.5);
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container-avatar-overlay {
  left: 100%;
  right: 0;
}
.container-avatar-overlay-reverse {
  left: 0;
  right: 100%;
}
.container-avatar:hover .container-avatar-overlay {
  width: 100%;
  left: 0;
}
.container-avatar:hover .container-avatar-overlay-reverse {
  width: 100%;
  right: 0;
}
.container-avatar-text {
  color: white;
  font-size: 20px;
  position: relative;
  white-space: nowrap;
  font-weight: 700;
}
.container-avatar-show-more {
  cursor: pointer;
  text-decoration: none;
  position: relative;
}
.container-avatar-show-more:hover {
  text-decoration: underline !important;
  color: cornflowerblue;
}
.container-avatar {
  position: relative;
  width: 44%;
  margin: 2%;
}
@media only screen and (max-width: 600px) {
  .container-avatar {
    width: 88%;
  }
}
