.text-aspect {
    text-align: left!important;
}

.img-style {
    align-self: flex-end;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin-left: 20vw;
    margin-bottom: 25px;
    margin-top: 0px;
  }

  .name-style {
    padding-top: 30px;
  }

  .the-div {
      display: flex;
      flex-direction: row;
  }
  .padding-arrow {
        padding-left: 5px;
  }

  .rectangle{
    width: 548px;
    height: 143px;
    background:#99979c;
    transition:all 0.3s ease;
}

.the-divs {
    flex: 1;
}
.the-details-div :hover{
    text-decoration: underline;
    cursor: pointer;
}