.text-aspect {
  text-align: left !important;
}
.text-style {
  white-space: pre-wrap;
}
.modal-design {
  position: absolute;
  bottom: 15%;
  left: 40%;
  cursor: pointer;
  text-decoration: none;
}
.modal-design:hover {
  text-decoration: underline !important;
  color: cornflowerblue;
}
.img-style {
  align-self: flex-end;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  margin-left: 20vw;
  margin-bottom: 25px;
  margin-top: 0px;
}

.name-style {
  padding-top: 30px;
}

.the-div {
  display: flex;
  flex-direction: row;
}
.padding-arrow {
  padding-left: 5px;
}

.rectangle {
  width: 548px;
  height: 143px;
  background: #99979c;
  transition: all 0.3s ease;
}

.the-divs {
  flex: 1;
}
.the-details-div :hover {
  text-decoration: underline;
  cursor: pointer;
}
.image {
  display: block;
  width: 100%;
  height: auto;
  margin: 4%;
  padding: 2%;
  border-radius: 15px;
  background: white;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: rgba(0, 140, 186, 0.5);
  overflow: hidden;
  width: 0;
  height: 89.5%;
  transition: 0.5s ease;
  margin: 4%;
  border-radius: 15px;
}
.overlay-reverse {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: rgba(0, 140, 186, 0.5);
  overflow: hidden;
  width: 0;
  height: 89.5%;
  transition: 0.5s ease;
  margin: 4%;
  border-radius: 15px;
}
.container-avatar:hover .overlay {
  width: 100%;
  left: 0;
}
.container-avatar:hover .overlay-reverse {
  width: 100%;
  right: 0;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
  font-weight: 700;
}

.container-avatar {
  position: relative;
  width: 45%;
  margin: 2%;
}
.wrap-contacts {
  display: flex;
  flex-wrap: wrap;
}
