.text-aspect {
    text-align: left!important;
}

.img-style {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: 950px;
    margin-bottom: 25px;
  }

  .name-style {
    padding-top: 30px;
  }

  .the-div {
      display: inline-block;
  }