.posts-container {
  display: flex;
  flex-direction: row;
}
.posts-categories {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0px;
}
.posts-list {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
}

header.masthead {
  margin-bottom: 0px;
}
@media only screen and (max-width: 600px) {
  .posts-categories {
    display: none;
  }
}
