.background {
  padding: 0px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.background__color {
  background-color: #f0f8ff;
}

.navbar-toggler-right {
  margin-right: 20px !important;
  font-size: 40px !important;
  color: #c000ff !important;
  border: 0 !important;
}

.navbar-toggler-right:active,
.navbar-toggler-right:focus {
  outline: 0;
}

.side-menu-filler {
  width: 70vw;
  position: fixed;
  float: left;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background-color: transparent;
  z-index: 1;
}
.side-menu {
  width: 30vw;
  position: fixed;
  float: right;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-left: 1px solid #eeeeee;
  background-color: #f0f8ff;
  z-index: 1;
}

.side-menu-list {
  list-style-position: inside;
  padding-left: 0px;
  border-top: 20px solid lightgray;
}
.side-menu-list-item {
  list-style-type: none;
  text-align: start;
  border-bottom: 1px solid lightgray;
  background-color: #f3e6ff;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.side-menu-list-item:hover,
.side-menu-list-item:active,
.side-menu-list-item-active {
  background-color: #e6ccff;
  border-left: 3px solid #c000ff;
}


.navbar-height {
  height: 6vh;
}

.navbar-nav {
  align-items: center !important;
  height: 6vh;
}
.nav-item {
  height: 6vh !important;
  display: flex !important;
  align-items: center !important;
}

.nav-item-active {
  /* border-right: 1px solid lightgray;
  border-left: 1px solid lightgray; */
  border-bottom: 3px solid #0085A1;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24); */
}
.nav-item:hover,
.nav-item:active {
  /* background-color: #e6ccff; */
  border-bottom: 3px solid #0085A1;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.logo-style {
  padding: 0px !important;
  width: 9vw;
  height: 4vh;
  cursor: pointer;
}

#mainNav {
  border: 0px !important;
}
