.navigator {
  flex: 1;
}

.background {
  padding: 0px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.background__color {
  background-color: #f0f8ff;
}

.navbar-toggler-right {
  margin-right: 20px !important;
  font-size: 40px !important;
  color: #c000ff !important;
  border: 0 !important;
}

.navbar-toggler-right:active,
.navbar-toggler-right:focus {
  outline: 0;
}

.navbar-height {
  height: 6vh;
}

.navbar-nav {
  align-items: center !important;
  height: 6vh;
}
.navigatorClass-desktop {
  display: flex;
  flex-direction: row;
}
.navigatorClass-mobile {
  display: none;
}
.nav-item {
  min-width: 6vw;
  height: 6vh !important;
  display: flex !important;
  align-items: center !important;
  margin-right: 1em;
  justify-content: center;
}

.nav-item-active {
  border-bottom: 3px solid #0085a1;
}
.grow {
  transition: all 0.05s ease-in-out;
}
.grow:hover {
  font-weight: 600;
  transform: scale(1.1);
  color: #293c4f !important;
}
.logo-style {
  padding: 0px !important;
  width: 150px;
  height: 40px;
  cursor: pointer !important;
}

.logo-button {
  padding: 13px;
}

.navbar {
  background: aliceblue;
}
.ml-auto {
  display: inline-block;
}
.nav-link {
  font-size: larger;
  padding: 0rem;
}

@media screen and (max-width: 800px) {
  .mobile-menu .lines {
    border-bottom: 15px double #f8f8f8;
    border-top: 5px solid #f8f8f8;
    content: "";
    height: 5px;
    width: 20px;
    padding-right: 15px;
    float: right;
  }
  .mobile-menu ul {
    position: static;
    display: none;
  }
  .mobile-menu li {
    margin-bottom: 1px;
  }
  .mobile-menu ul li,
  .mobile-menu li a {
    width: 100%;
  }
  .mobile-menu .show-menu {
    display: block;
  }

  .navigatorClass-desktop {
    display: none;
  }
  .navigatorClass-mobile {
    display: inline-block;
  }
  .nav-item {
    margin-right: 0;
    min-width: 20vw;
  }
  .navigatorClass-mobile-list {
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
  }
}
