.textarea {
    margin-bottom: 1em;
    flex-direction: row;
    display: flex;
    margin-top: 1em;
    border-radius: 5px;
    background-color: #f0f8ff;
  }
  .textarea-input {
    background: inherit;
    flex: 1;
    border-radius: inherit;
    padding-left: 1em;
    border: 0px;
  }
  .texarea-input:focus {
    outline: 0;
  }

  